

<!DOCTYPE html>
<html>
<head>
    <style>
        .center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Styling */

body {
  margin: auto;
  width: 640px; 
  padding: 200px;
  font-family: 'Lexend Deca', sans-serif; 
  font-size: large;
  color: #2E475D;    
}

    </style>
<link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
</head>
<body>
  

<div class="center">

  <p>Term Of Services Coming soon ...</p>

</div>

   </body>